body {
  padding-top:100px;
}

#course-search {
  width: 300px;
}

.navbar-left {
  margin: 0;
}

.navbar-right {
  padding-right: 20px;
  margin-right: 20px;
}

.form-group {
  margin: 16px 0 0 30px;
  padding: 0;
}

button#rate {
  margin-top: 45px;
}

a {
  cursor: pointer;
}

#rate-form .row {
  margin-bottom: 20px;
}

#rate-form #rate-submit-button {
  margin-left: 15px;
}