{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-xs-10">
      <h1>COMP1917</h1>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-embossed btn-primary" id="rate">Rate</button>
    </div>
  </div>
  <p>COMP1917 is a course in which you learn C but eventually it will be Python for some reason.</p>
  <div class="row">
    <div class="col-xs-2">
      <p>Content:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Lecturer:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <hr/>

  <div class="row">
    <h5><a>George Caley</a></h5>
  </div>
  <div class="row">
    <div class="col-xs-1">
      <span class="fui-bubble"></span>
    </div>
    <div class="col-xs-11">
      <blockquote>"I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun."</blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Difficulty:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Content:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <hr/>

  <div class="row">
    <h5><a>Lucas Pickup</a></h5>
  </div>
  <div class="row">
    <div class="col-xs-1">
      <span class="fui-bubble"></span>
    </div>
    <div class="col-xs-11">
      <blockquote>"I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun."</blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Difficulty:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Content:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Lecturer:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <hr/>
{% endblock %}