{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-xs-10">
      <h1>{{ code }}</h1>
      <h3>{{ name }}</h3>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-embossed btn-primary" id="rate">Rate</button>
    </div>
  </div>
  <p>Lecturer{{ 's' if lecturers|length > 1 else '' }}: {{ ', '.join(lecturers) }}</p>
  <p>{{ desc|safe }}</p>
  <div class="row">
    <div class="col-xs-2">
      <p>Content:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Lecturer:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <hr/>

  <div class="row">
    <h5><a>George Caley</a></h5>
  </div>
  <div class="row">
    <div class="col-xs-1">
      <span class="fui-bubble"></span>
    </div>
    <div class="col-xs-11">
      <blockquote>"I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun."</blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Difficulty:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Content:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <hr/>

  <div class="row">
    <h5><a>Lucas Pickup</a></h5>
  </div>
  <div class="row">
    <div class="col-xs-1">
      <span class="fui-bubble"></span>
    </div>
    <div class="col-xs-11">
      <blockquote>"I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun.
      I really liked this course it was fantastic and I had a lot of fun."</blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Difficulty:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Content:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Lecturer:</p>
    </div>
    <div class="col-xs-10">
      <span class="fui-heart"></span>
      <span class="fui-heart"></span>
    </div>
  </div>
  <hr/>
{% endblock %}
